.reader {
  height: 100%;
  overflow: hidden;

  &-page {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem 1rem 3rem 1rem;
    box-sizing: border-box;
    outline: none;
  
    font-size: 1.7rem;
    line-height: 1.25em;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word !important;
  
    background: #e1f1dc;
  
    -moz-column-width: 24rem;
    -moz-column-gap: 1rem;
    -moz-column-fill: auto;
  }

  &-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--softkeybar-height);
    line-height: var(--softkeybar-height);
    font-size: 1.2rem;
    text-align: right;
    padding: 0 2em;
    box-sizing: border-box;
  }
}
