html {
  font-size: 10px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  background: var(--header-background);
}

.hidden {
  display: none;
}

@font-face {
  font-family: "gaia-icons";
  src: url("/fonts/gaia-icons.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

[data-icon]:before {
  font-family: "gaia-icons";
  content: attr(data-icon);
  display: inline-block;
  font-weight: 500;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
}
